# Node
node_modules/
**/node_modules/
dist/
**/dist/
.vite/
**/.vite/

# Env files
.env
.env.*
!.env.example

# Python
.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini

